<h1 class="index-hed">Books</h1>
<table>
  <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th> </th>
      </tr>
  </thead>

<!--投稿一覧ページ（正常に動作）-->
<% @books.each do |book| %>
<tbody>
      <tr>
　        <td><%=  book.title %></td>
　        <td><%=  book.body %></td>
　        <td><%= link_to "Show", book_path(book) %></td>
　        <td><%= link_to 'Edit', edit_book_path(book) %></td>
          <td><%= link_to 'Destroy', book_path(book), method: :delete, "data-confirm" => "Are you sure?" %></td>
     </tr>
     <%end%>
  </tbody>
</table>





<!--titleとbodyに空白があればエラーを表示（正常に動作）-->

    <% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this book from being saved
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<!--投稿作成ページ（正常に動作）-->
<h1>New book</h1>
<%= form_with model: @book do |f| %>
<div class=" new-title">
<p>Title</p>
<%= f.text_field :title %>
</div>

<div class= "new-body">
<p>Body</p>
<%= f.text_area :body %>
</div>

<%= f.submit "Create Book" %>
<%end%>
